SLC_LOG/command_log_26-01-2025_18-32-00.csv
SLC_LOG/command_log.csv
SLC_LOG/slc_command_log_26-01-2025_18-32-44.csv
SLC_LOG/slc_command_log_26-01-2025_18-36-11.csv
SLC_LOG/slc_command_log_2025-01-26_18-36-38.csv
SLC_LOG/slc_command_log_2025-01-26_18-58-33.csv
SLC_LOG/slc_command_log_2025-01-26_19-01-44.csv
SLC_LOG/slc_command_log_2025-01-26_19-05-32.csv
SLC_LOG/slc_command_log_2025-01-26_19-08-08.csv
SLC_LOG/slc_command_log_2025-01-26_19-10-22.csv
SLC_LOG/slc_command_log_2025-01-26_19-21-04.csv
SLC_LOG/slc_command_log_2025-01-26_19-22-12.csv
SLC_LOG/slc_command_log_2025-01-26_19-32-48.csv
SLC_LOG/slc_command_log_2025-01-26_19-36-27.csv
SLC_LOG/slc_command_log_2025-01-26_19-49-48.csv
SLC_LOG/slc_command_log_2025-01-26_19-50-29.csv
build/slc/Analysis-00.toc
build/slc/base_library.zip
build/slc/EXE-00.toc
build/slc/PKG-00.toc
build/slc/PYZ-00.pyz
build/slc/PYZ-00.toc
build/slc/slc.pkg
build/slc/warn-slc.txt
build/slc/xref-slc.html
build/slc/localpycs/pyimod01_archive.pyc
build/slc/localpycs/pyimod02_importers.pyc
build/slc/localpycs/pyimod03_ctypes.pyc
build/slc/localpycs/pyimod04_pywin32.pyc
build/slc/localpycs/struct.pyc
dist/SLC V1-0-0.exe
SLC V1.0.0.spec
